{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
<div class="body p-5 mt-3">
    <div class="text-center">
        
<div class="detial">
    <div class="title_bar fw-bold fs-2 sub-bg text-white">
        راجستر مشتری
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="reg" class="row m-0 shadow mt-5 text-start p-2  p-3 py-5 ">
           
            <div class="row m-0 shadow bg-white-1 pt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-user-circle text-danger px-2"
                            aria-hidden="true"></i>
                        نام</p>
                    <input type="text" name="name_txt" class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-user text-danger px-2" aria-hidden="true"></i>
                        تخلص</p>
                    <input type="text" name="lastname_txt" class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1">
                        <i class="fa fa-user-plus text-danger px-2" aria-hidden="true"></i>
                        </i>معرف
                    </p>
                    <select class="form-select" name="employee_txt" id="emp" aria-label="Default select example">
                       <option value="0">دفتر</option>
                        {% for item in employees %}
                            <option value="{{item.id}}"> {{item.admin}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-envelope text-danger px-2"
                            aria-hidden="true"></i>
                        ایمیل</p>
                    <input type="email" name="email_txt" class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1">
                        <i class="fa fa-phone text-danger px-2" aria-hidden="true"></i>
                        شماره تماس</p>
                    <input type="number" name="phone_txt" class="form-control">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-location-dot text-danger px-2"
                            aria-hidden="true"></i>
                        آدرس</p>
                    <input type="text" name="address_txt" class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-envelope text-danger px-2"
                            aria-hidden="true"></i>
                        سکونت اصلی</p>
                    <input type="text" name="mainstate_txt" class="form-control">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1">
                        <i class="fa fa-phone text-danger px-2" aria-hidden="true"></i>
                        سکونت فعلی</p>
                    <input type="text" name="currentstate_txt" class="form-control">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                    <p class="text-dark m-1"><i class="fa fa-location-dot text-danger px-2"
                            aria-hidden="true"></i>
                        نمبر پاسپورت</p>
                    <input type="text" name="passport_txt" class="form-control">
                </div>
                <div class="col-6"></div>
                <div class="col-lg-4 col-md-4 col-12 fs-5 mt-3">
                    <p class="text-dark m-1">
                        <i class="fa fa-server text-danger px-2" aria-hidden="true"></i>
                        تصویر نمایه</p>
                    <div class="mt-2">
                        <img id="imagePreview-2" src="/static/img/avatar-bg.png"
                        style=" width: 220px; height: 220px" alt="profile image">

                    </div>
                    <div class="text-center" style="width: 200px;">
                        <label for="file-input-2" class="custom-button w-100 p-2 dark-bg nav-link fw-bold">
                            <i class="fa-solid fa-image  me-2 text-info"
                                aria-hidden="true"></i>اضافه
                            تصویر
                        </label>
                        <input name="profile_img" type="file" id="file-input-2" class="d-none" accept="image/*"
                            onchange="previewImage(event,'imagePreview-2')" class="form-control mt-2" required
                            required>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 fs-5 mt-3">
                    <p class="text-dark m-1">
                        <i class="fa fa-server text-danger px-2" aria-hidden="true"></i>
                        تصویر تذکره</p>
                    <div class="mt-2">
                        <img id="imagePreview-1" src="/static/img/avatar-bg.png"
                        style=" width: 220px; height: 220px" alt="profile image">

                    </div>
                    <div class="text-center" style="width: 200px;">
                        <label for="file-input-1" class="custom-button w-100 p-2 dark-bg nav-link fw-bold">
                            <i class="fa-solid fa-image  me-2 text-info"
                                aria-hidden="true"></i>اضافه
                            تصویر
                        </label>
                        <input name="card_img" type="file" id="file-input-1" class="d-none" accept="image/*"
                            onchange="previewImage(event,'imagePreview-1')" class="form-control mt-2" required
                            required>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 fs-5 mt-3 text-center">
                    <p class="text-dark m-1">
                        <i class="fa fa-server text-danger px-2" aria-hidden="true"></i>
                        تصویر پاسپورت</p>
                    <div class="mt-2">
                        <img id="imagePreview-3" src="/static/img/avatar-bg.png"
                            style=" width: 220px; height: 220px" alt="profile image">

                    </div>
                    <div class="text-center" style="width: 200px;">
                        <label for="file-input-3" class="custom-button w-100 p-2 dark-bg nav-link fw-bold">
                            <i class="fa-solid fa-image  me-2 text-info"
                                aria-hidden="true"></i>اضافه
                            تصویر
                        </label>
                        <input name="passport_img" type="file" id="file-input-3" class="d-none" accept="image/*"
                            onchange="previewImage(event,'imagePreview-3')" class="form-control mt-2" required
                            required>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="row m-0 d-flex justify-content-end">
                        <div class="col-lg-6 col-md-6 col-12 p-2 ">
                            <button class="btn btn-info sub-bg w-100 my-5 fw-bold">ذخیره</button>
                        </div>
                    </div>
                </div>
           
        </div>
    </form>
</div>
    </div>
</div>
{% endblock %}
