<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <title>Exellent</title>
</head>

<body>
    <div class="container">
        <div class="top fixed-top p-2 main-bg text-white">
            <div class="menu-btn">
                <button class="btn"><i class="fa fa-list text-white" aria-hidden="true"
                        onclick="menubtn()"></i></button>
            </div>
            <div class="text-center fs-3">
                <span class="text-light fw-bold">Excellent</span>
            </div>
            <div class="logout">
                <button class="btn"><i class="fa fa-power-off text-white" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="menubar mt-5 pt-3">
        <ul class="navbar-nav menu fs-5 fw-bold">
            <li class="nav-item main-bg"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6"
                        aria-hidden="true"></i>صفحه اصلی</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-users pe-3 fs-6" aria-hidden="true"></i>
                    امور دفتر</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i>امور
                    ویزا</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6"
                        aria-hidden="true"></i>ویزاهای تایید شده</a></li>
            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i>نرخ
                    اسعار </a> </li>
        </ul>
    </div>
    <div class="body p-5 mt-3">
        <div class="text-center">

            <div class="detial">
                <div class="title_bar fw-bold fs-2 sub-bg text-white">
                    راجستر ویزا
                </div>
                <form action="">
                    <div id="reg" class="row m-0 shadow mt-2 text-start p-2 p-3">
                        <div class="row m-0 shadow bg-white-1 pt-5">
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-id-card text-danger px-2"
                                        aria-hidden="true"></i> نوعیت ویزا</p>
                                <select class="form-select" id="emp" aria-label="Default select example"
                                    onchange="handleSelectChange('مقدار')">
                                    <option value="1">عمان یکساله</option>
                                    <option value="2">عمان یکساله</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-percent text-danger px-2"
                                        aria-hidden="true"></i> فیصدی مفاد</p>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-calendar-check text-danger px-2"
                                        aria-hidden="true"></i> تاریخ ثبت</p>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-calendar text-danger px-2"
                                        aria-hidden="true"></i> تاریخ صدور</p>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-user text-danger px-2" aria-hidden="true"></i>
                                    مشتری</p>

                                    <div>
                                        <input type="text" class="form-control" id="input-field" placeholder="نام یا تخ" oninput="showOptions(this.value)">
                                        <ul id="options-list" style="display: none;"></ul>
                                      </div>
                                      
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 p-2 fs-5">
                                <p class="text-dark m-1"><i class="fa fa-id-card text-danger px-2"
                                        aria-hidden="true"></i> نمبر پاسپورت</p>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 p-2 fs-5 text-center">
                                        <button class="btn btn-dark sub-bg" onclick="selectPDF('pdf-container')">مدارک ضروری</button>
                                        <div class="d-flex justify-content-center">
                                            <div id="pdf-container"></div>    
                                        </div>
                                        
                            </div>

                            <div class="col-12 p-2 fs-5 d-flex justify-content-end">

                                <button class="btn btn-light sub-bg w-50 my-5 fw-bold">ذخیره</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>