{% load static %}
<div class="container">
    <div class="top fixed-top p-2 main-bg text-white">
        <div class="menu-btn">
            <button class="btn" onclick="menubtn()"><i class="fa fa-list text-white" aria-hidden="true"
                    ></i></button>
        </div>
        <div class="text-center fs-3">
            <span class="text-light fw-bold">Excellent</span>
        </div>
        <div class="logout">
            <button class="btn"><i class="fa fa-power-off text-white" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="menubar mt-5 pt-3">
    <ul class="navbar-nav menu fs-5 fw-bold">
        <li class="nav-item main-bg"><a href="dashboard.html" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i>صفحه اصلی</a></li>
        <li class="nav-item"><a href="employee_registeration.html" class="nav-link"><i class="fa fa-users pe-3 fs-6" aria-hidden="true"></i> راجستر کارمند</a></li>
        <li class="nav-item"><a href="customer_registeration.html" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i>راجستر مشتری</a></li>
        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home pe-3 fs-6" aria-hidden="true"></i>نرخ اسعار </a> </li>
       
    </ul>
</div>
